<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body bgcolor="#DEDEDE">
    <h1>List Cliente</h1>
    <table>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
        {% for user in clientes %}
        <tr>
            <td>{{ user.nombres }}</td>
            <td>{{ user.apellidos }}</td>
            <td>{{ user.correo }}</td>
            <td>{{ user.celular }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
