<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body bgcolor="#DEDEDE">
    <h1>Lista de Transacciones</h1>
    <table>
        <tr>
            <th>Monto</th>
            <th>Tipo de Transacción</th>
        </tr>
        {% for user in transacciones %}
        <tr>
            <td>{{ user.monto }}</td>
            <td>{{ user.tipo_transaccion }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
